* {
  --text-colour: red;
  font-size: 1.1rem;
}
body {
  background-color: #111111;
}
#root {
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  --root-padding: 2vw;
  padding: 0 var(--root-padding);
  width: 100vw;
  box-sizing: border-box;
}
#root > * {
  width: calc(100% - 2 * var(--root-padding));
}

.link {
  text-decoration: none;
  color: var(--text-colour);
}

.header {
  text-align: center;
  font-size: 1.6rem;
}

.todo {
  box-sizing: border-box;
  background-color: #ffea00cc;
  color: black;
  border: 5px solid red;
  padding: 2rem;
  text-align: center;
}

.paginator {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.loading-msg {
  height: 5rem;
}
.loading-spinner {
  height: 3rem;
  width: 3rem;
  background-color: red;
  animation-name: loading-spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
@keyframes loading-spin {
  100% {
    transform: rotateY(360deg);
  }
}

.article-summary {
  display: grid;
  grid-template-areas: "a" "b" "c";
  border: 5px solid red;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  --article-summary-padding: 25px;
  padding: var(--article-summary-padding);
  margin: 2rem 0;
}
.article-summary .title {
  grid-area: a;
}
.article-summary .details {
  grid-area: b;
}
.article-summary img {
  grid-area: c;
  width: 100%;
}

.article img {
  width: 100%;
}

.comment {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}


/* styling for desktops */
@media screen and (min-width: 600px) {
  #root {
    --root-padding: 10vw;
  }
  .article-summary {
    grid-template-areas:
      "c a"
      "c b";
    width: 80vw;
  }
  .article-summary img {
    max-width: 15rem;
  }
}


#test {
  border: 10px solid red;
  width: 100vw;
  height: 5rem;
}
