* {
  --text-colour: red;
  font-size: 1.1rem;
}
#root {
  background-color: #111111;
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  --root-padding: 5vw;
  padding: 0 var(--root-padding);
  width: 100vw;
}
#root > * {
  width: calc(100% - 2 * var(--root-padding));
}

.link {
  text-decoration: none;
  color: var(--text-colour);
}

.header {
  text-align: center;
  font-size: 1.6rem;
}

.todo {
  background-color: #ffea00cc;
  color: black;
  border: 5px solid red;
  padding: 2rem;
  text-align: center;
}

.paginator {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-summary {
  display: grid;
  grid-template-areas: "a" "b" "c";
  border: 5px solid red;
  border-radius: 10px;
  --article-summary-padding: 25px;
  padding: var(--article-summary-padding);
  margin: 2rem 0;
}
.article-summary .title {
  grid-area: a;
}
.article-summary .details {
  grid-area: b;
}
.article-summary img {
  grid-area: c;
  width: calc(100% - 2 * var(--article-summary-padding));
}

.article {
  width: 100%;
}
.article img {
  width: 100%;
}


/* styling for desktops */
@media screen and (min-width: 600px) {
  #root {
    padding: 0 10vw;
  }
  .article-summary {
    grid-template-areas:
      "c a"
      "c b";
  }
  .article-summary img {
    max-width: 15rem;
    margin: 0;
  }
}


#test {
  border: 10px solid red;
  width: 100vw;
  height: 5rem;
}
